html {
    position: relative;
    min-height: 100%;
  }

.center {
    align-items: center;
}
body {
    background-image: url('images/2019stjohn.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 0 100px;
    padding-bottom: 10%
}